<!doctype html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title | default: site.title }}</title>
  <!-- Für Google & SEO -->
  <meta name="robots" content="index, follow">
  <!-- Basis Meta-Tags -->
  <meta name="description" content="{{ site.description }}">
  <meta name="keywords" content="Genossenschaft, Mittelstand, Open Source, digitale Souveränität, Software-Fabrik">
  <meta name="author" content="FreeData">
  <!-- Für Social Media (Open Graph) -->
  <meta property="og:title" content="{{ page.title | default: site.title }}">
  <meta property="og:description" content="{{ site.description }}">
  <meta property="og:type" content="website">
  <meta property="og:locale" content="de_DE">
  <meta property="og:url" content="https://www.freedata.net/">
  <meta name="theme-color" content="#000000">

  <!-- Google Search Console -->
  <meta name="google-site-verification" content="wECZacZNSOQfNBQVr2R3FvA-sts_Oc2kYKgjk3t4mYI" />

  <link rel="stylesheet" href="{{ '/assets/custom.css' | relative_url }}">
</head>

<body theme="{{ page.theme | default: 'dark' }}">

  <header class="topnav" aria-label="Hauptnavigation">
    <div class="topnav-inner">
      <!-- <a href="/" class="topnav-logo">FreeData</a> -->
      <nav class="topnav-links">
        <a href="/" class="{% if page.url == '/' %}active{% endif %}">Start</a>
        <a href="{{ '/blog/' | relative_url }}" class="{% if page.url contains '/blog' %}active{% endif %}">Blog</a>
        <a href="mailto:shift@freedata.net">Kontakt</a>
      </nav>
    </div>
  </header>

  <main class="wrap">
    {{ content }}
    <footer>
      <div class="row" style="justify-content:space-between">
        <div>© <span id="y"></span> FreeData · <em>in Bewegung</em></div>
        <div>

          <a href="/">Startseite</a>

          <span style="opacity:.5">·</span>
          <a href="mailto:shift@freedata.net">Kontakt</a>

          <span style="opacity:.5">·</span>
          <a href="/impressum/">Impressum</a>
   
          <span style="opacity:.5">·</span>
          <a href="/datenschutz/">Datenschutz</a>

          <span style="opacity:.5">·</span>   
          <a href="#" onclick="alert('Satzung: in Vorbereitung.');return false;">Satzung (bald)</a>

        </div>
      </div>
    </footer>
  </main>
  <script>document.getElementById('y').textContent=new Date().getFullYear()</script>
  <noscript>Diese Seite funktioniert auch ohne JavaScript.</noscript>
</body>
</html>
